* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  font-family: "Roboto";
}

span {
  margin-right: 10px;
}

.sidebar {
  color: white;
  grid-row: 1/3;
  padding: 2rem;
  background-color: #ea9d34;
}

.sidebar h1 {
  font-size: 1.8rem;
}

li {
  font-size: 1.2rem;
  margin: 10px 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

ul {
  margin: 3rem 0;
}

/* Navi Bar */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.searchbox {
  border: none;
  background-color: #e2e8f0;
  width: 100%;
  border-radius: 20px;
  padding: 0.8rem;
}

.nav img {
  width: 80px;
}

button {
  background-color: #ea9d34;
  color: #e9f8f5;
  padding: 15px 30px;
  border: none;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 20px;
}

/* ARCTICLE SECTION */

.article {
  box-shadow: inset rgba(0, 0, 0, 0.224) 1px 3px 5px;
  background-color: #faf4ed;
  display: grid;
  gap: 20px;
  grid-template-columns: 3fr 1fr;
  padding: 1rem;
}

.article h3 {
  color: #2a3134;
}

.cards {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: auto-fill;
  gap: 20px;
}

.nav div > span {
  color: #ea9d34;
}

.card {
  background-color: white;
  border-radius: 10px;
  border-left: 5px solid #ea9d34;
  padding: 1rem;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h3 {
  color: #ea9d34;
}

.card div {
  margin: 1rem;
}

/* MISC SECTION */

.announce {
  display: grid;
}

.announcements {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: 1rem;
}

.announcements hr {
  margin: 1rem 0;
}

.trending {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

h3 {
  margin-bottom: 1rem;
  color: #0b3643;
}

.card2 div > img {
  margin: 10px;
}
